.contact{

padding:80px 8%;
background:#f8f8f8;

}


.contact-container{

display:flex;
justify-content:space-between;
gap:50px;

}



.contact-info{

width:45%;

}


.contact-info h2{

font-size:38px;
color:#111;

}


.contact-info p{

color:#555;
line-height:1.7;

}



.contact-item{

margin-top:25px;

}


.contact-item h4{

color:#b08d57;
font-size:18px;

}




.contact-form{

width:45%;
display:flex;
flex-direction:column;
gap:20px;

}



.contact-form input,
.contact-form textarea{


padding:15px;
border:1px solid #ddd;
font-size:16px;

}



.contact-form button{

padding:15px;
background:#b08d57;
color:white;
border:none;
font-size:17px;
cursor:pointer;

}



.contact-form button:hover{

background:#8d6d3c;

}




@media(max-width:768px){

.contact-container{

flex-direction:column;

}


.contact-info,
.contact-form{

width:100%;

}

}